$box-shadow: 8px 8px 15px 2px rgba(0, 0, 0, 0.2);
$background-linear: linear-gradient(to left top, #1c6192 0%, #7bc576 75%);

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;


  .app-wrapper {
    background: $background-linear;
    display: flex;
    align-items: center;
    height: 100%;
    > div{
      max-width: 500px;
    }


  }

  .app {
    width: 95%;
    margin: 0 auto;
    .app--select-option,
    .app--button-box {
      display: inline-block;
    }
    .app--canvas-box{
      background-color: #fff;
      border-radius: 10px;
      margin: 15px 0px;
      overflow: hidden;
      box-shadow: $box-shadow;
    }
  }


  .loaded {
    display: none;
  }
}